body {
    height: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    width: 100vw;
    padding: 0; margin: 0; border: 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 70px 1fr 25px;
    grid-template-rows: 70px 1fr 25px;
    grid-template-areas: 
        "h"
        "c"
        "f";

    font-size: 12pt;
    overflow: hidden;
}
body * {
    box-sizing: border-box;
}
#header { 
    grid-row: 1;
    -ms-grid-row:1; 
    grid-column: 1;
    -ms-grid-column:1;
    grid-area: h; 
    background-image: url('bcbsnc-logo.png');
    background-color:  #040435;
    background-size: 150px, 100%;
    background-position-x: 1em, 0;
    background-position-y: 12px, 0;
    background-repeat: no-repeat, repeat;
    padding: .2em;
}

#content { 
    grid-row: 2;
    -ms-grid-row:2; 
    grid-column: 1;
    -ms-grid-column:1;
    grid-area: c;
    background-image: linear-gradient(to bottom right, bisque, linen);
}
#footer { 
    grid-row: 3;
    -ms-grid-row:3; 
    grid-column: 1;
    -ms-grid-column:1;
    grid-area: f;
    border-top: 1px solid darkslategray;
    background-color: gainsboro;
    color: darkslategray;
    font-size: 9pt;
    padding: .25em .6em 0 .6em;
    display:flex;
    justify-content: space-between;
}
#footerRight {
    text-align: right;
}

#frmContent {
    padding: 0; margin: 0; border: 0;
    width:100%;
    height:100%;
}