body {
    height: 100vh;
    width: 100vw;
    padding: 0; margin: 0; border: 0;
    font-size: 12pt;
}
body * {
    box-sizing: border-box;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0; margin: 0; border: 0;
}
#layout {
    height: 100%; 
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 0;
}
#header { 
    background-image: url('bcbsnc-logo.png'), linear-gradient(to bottom right, #040435, rgb(73, 67, 88));;
    xxbackground-color:  ;
    background-size: 150px, 100%;
    background-position-x: 1em, 0;
    background-position-y: 12px, 0;
    background-repeat: no-repeat, repeat;
    color: white;
    padding: .2em;
    height: 70px;
}

#content { 
    vertical-align: top;
}
#footer { 
    height: 25px;
    border-top: 1px solid darkslategray;
    background-color: gainsboro;
    color: darkslategray;
}
#footerLeft {
    padding-left: .5em;
    font-size: 8pt;
}
#footerRight {
    font-size: 8pt;
    text-align: right;
    padding-right: .5em;
}


#frmContent {
    padding: 0; margin: 0; border: 0;
    width:100%;
    height:100%;
}



@media print {
    div.BQMenuItem, div.BQMenuSpace {
        visibility: hidden;
    }
}
