body {
    height: 100vh;
    width: 100vw;
    padding: 0; margin: 0; border: 0;
    font-size: 12pt;
}
body * {
    box-sizing: border-box;
}
#content { 
    padding-top: 1.5em;
    margin: 0 auto;
}
#content.twocolumn {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

input:read-only {
    background: none;
    border: none;
}
input:-moz-read-only {
    background: none;
    border: none;
}
/* Used in 2-column pages */
.leftColumn {
    margin-right:.5em;
}
.rightColumn {
    margin-left:.5em
}

@media print {
    .noprint {
        visibility: hidden;
    }
}
