body {
    height: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    width: 100vw;
    padding: 0; margin: 0; border: 0;
    grid-auto-columns: minmax(min-content, 1fr) 90px;
    -ms-grid-columns: minmax(min-content, 1fr) 90px;
    grid-template-rows: 1.5em 1fr;
    -ms-grid-rows: 1.5em 1fr;
    grid-template-areas: 
    "h m"
    "c m";
    font-size: 12pt;
    justify-items: center;
}
body * {
    box-sizing: border-box;
}
#menu { 
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row-span: 2;
    grid-area: m;
    background-image: linear-gradient(#040435, #0000cc);
    color: white;
    padding: .2em;
    text-align: center;
    font-size: 8pt;
    width: 100%;
}
#content { 
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: c;
    padding: .2em;
    padding-top: 1.5em;
    overflow-x: hidden;
}
#headline { 
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: h;
    background-color: silver;
    padding-top: .2em;
    color: navy;
    width: 100%;
    border-bottom: 1px solid navy;
    display: flex;
    justify-content: space-between;
}
#pagetitle { 
    padding-left: 1em;
}
#pagemessage { 
    padding-right: 1em;;
}

div.BQMenuItem {
    cursor: pointer;
    border-radius: .7em;
    padding-bottom: .5em;
}
div.BQMenuItem:hover {
    background-image: linear-gradient(to bottom right, rgba(255,255,255,.2),  rgba(255, 255, 255, .45),  rgba(255, 255, 255, 0));
}

@media print {
    div.BQMenuItem {
        visibility: hidden;
    }
}
