#content {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: c;
    padding: .2em;
    padding-top: 1.5em;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
}

.leftColumn {
    margin-right:.5em;
}
.rightColumn {
    margin-left:.5em
}